body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

nav {
  background: #ff6801;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  cursor: pointer;
  font-weight: bold;
}

.page {
  display: none;
  padding: 40px;
  background: white;
  margin: 30px;
  border-radius: 10px;
}

.page.active {
  display: block;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
}

button {
  background: #ff6801;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
